---
apiVersion: aws.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: aws-credentials
spec:
  credentials:
    secretRef:
      key: creds
      name: aws-credentials
      namespace: provider-crossplane-system
    source: Secret